body {
  padding-top: 50px;
  /*padding-bottom: 20px;*/
  color: #5B5951;
  background-color: #C6E3F7;
  /*background-color: #CFCFCF;*/
  /*background-color: #E4E4E4;*/
  /*background-color: #C0C0C0;*/
  /*background-color: #E6E6E6;*/
  /*background-color: #EAEAEA;*/
  /*background-image: url('images/squared_metal.png');*/
  /* background: url('images/rooftop-image.jpg') #000 no-repeat center center fixed*/
}

/*@media (max-width: 1200px) {
  .container {
    width: 970px;
  }
}*/

.font-fun {
  font-family: 'Luckiest Guy', cursive;
}

hr {
  height: 1px;
}

.bold {
  font-weight: bold;
}

.btn-lg {
  padding: 12px 18px;
  font-size: 20px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.shadow {
box-shadow: 1px 1px 8px 0px #ccc;
-moz-box-shadow: 1px 1px 8px 0px #ccc;
-webkit-box-shadow: 1px 1px 8px 0px #ccc;
-ms-box-shadow: 1px 1px 8px 0px #ccc;
-o-box-shadow: 1px 1px 8px 0px #ccc;
}


.button-new {
-webkit-background-clip: padding;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
/*font-family: "FetteEngD",Tahoma,Geneva,sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/
text-transform: uppercase;
box-shadow: inset 0 1px rgba(255,255,255,0.4),0 1px 1px rgba(0,0,0,0.2);
cursor: pointer;
display: inline-block;
position: relative;
text-align: center;
text-shadow: 0 -1px rgba(0,0,0,0.4);
white-space: nowrap;
border-radius: 3px;
line-height: 1;
font-size: 14px;
padding: .45em .75em .3em;
}


.btn-yellow {
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff8de), color-stop(100%, #fde07a));
background-image: -webkit-linear-gradient(#fff8de,#fde07a);
background-image: -moz-linear-gradient(#fff8de,#fde07a);
background-image: -o-linear-gradient(#fff8de,#fde07a);
background-image: linear-gradient(#fff8de,#fde07a);
background-color: #feecac;
border: 1px solid #fde07a;
color: #5B5951;
}

/*.btn-yellow:link,*/
.btn-yellow:visited,
.btn-yellow:hover,
.btn-yellow:active {
background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fef2c5), color-stop(100%, #fddb60));
background-image:-webkit-linear-gradient(#fef2c5,#fddb60);
background-image:-moz-linear-gradient(#fef2c5,#fddb60);
background-image:-o-linear-gradient(#fef2c5,#fddb60);
background-image:linear-gradient(#fef2c5,#fddb60);
background-color:#fde692;
background-color:#fef2c5;
color:#323135;
text-decoration:none;
}

.btn-yellow:link {
  text-decoration: none;
}

.btn-orange-old {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee935c), color-stop(100%, #e86d45));
background-image: -webkit-linear-gradient(#ee935c,#e86d45);
background-image: -moz-linear-gradient(#ee935c,#e86d45);
background-image: -o-linear-gradient(#ee935c,#e86d45);
background-image: linear-gradient(#ee935c,#e86d45);
background-color: #eb8050;
border: 1px solid #e86d45;
box-shadow: 0 1px 1px rgba(0,0,0,0.2),inset 0 1px 0 #f3b28a;
color: #fff;
}

/*.btn-orange-old:link,*/
.btn-orange-old:visited,
.btn-orange-old:hover,
.btn-orange-old:active {
background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ec8445), color-stop(100%, #e55b2e));
background-image:-webkit-linear-gradient(#ec8445,#e55b2e);
background-image:-moz-linear-gradient(#ec8445,#e55b2e);
background-image:-o-linear-gradient(#ec8445,#e55b2e);
background-image:linear-gradient(#ec8445,#e55b2e);
background-color:#e86f39;
background-color:#e86d45;
color:#fff;
text-decoration:none;
}

.btn-orange-old:link {
  text-decoration: none;
}

.btn-orange {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F39A3A), color-stop(100%, #CD791F));
background-image: -webkit-linear-gradient(#F39A3A,#CD791F);
background-image: -moz-linear-gradient(#F39A3A,#CD791F);
background-image: -o-linear-gradient(#F39A3A,#CD791F);
background-image: linear-gradient(#F39A3A,#CD791F);
background-color: #E68D2E;
border: 1px solid #CD791F;
box-shadow: 0 1px 1px rgba(0,0,0,0.2),inset 0 1px 0 #f3b28a;
color: #fff;
}

/*.btn-orange:link,*/
.btn-orange:visited,
.btn-orange:hover,
.btn-orange:active {
background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F38E22), color-stop(100%, #CD6F0A));
background-image:-webkit-linear-gradient(#F38E22,#CD6F0A);
background-image:-moz-linear-gradient(#F38E22,#CD6F0A);
background-image:-o-linear-gradient(#F38E22,#CD6F0A);
background-image:linear-gradient(#F38E22,#CD6F0A);
/*background-color:#E68217;*/
background-color:#E68217;
border: 1px solid #CD6F0A;
color:#fff;
text-decoration:none;
}

.btn-orange:link {
  text-decoration: none;
}



.clear-div:after {
clear: both;
content: " ";
display: block;
font-size: 0;
height: 0;
visibility: hidden;
}

/*new homepage*/

.homepage-title {
  font-size: 42px;
  font-weight: bold;
  margin: 40px 0px 10px 0px;
 /* font-family: 'Open Sans', sans-serif;*/
  letter-spacing:2px;
}

/*video { 
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  visibility: visible;

}
*/


/*.table > tbody > tr > td {
  padding: 0px 10px 0px 10px;
  border-top: 0px;
}

.table {
  margin-bottom: 0px;
}*/

.table-responsive {
  overflow-x: visible;
}

#table-user-page {
  margin-bottom: 0px;
}

#table-user-page tbody {
  padding-bottom: 0px;
}

#table-user-page tr td {
  border-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

table {
  height: 100%;
}

tr {
width: 100%;
display: inline-table;
}


tbody{
  overflow-y: scroll;
  width: 100%;
  position: relative;
}

#table-conversation {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

#table-conversation tr td {
 vertical-align: middle;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #FEFEFE;
 }

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #EAEAE8;
 }


@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
    overflow-y: visible;
    border: 0px;
  }
}


.carousel-indicators { visibility: hidden; }

.carousel-caption { visibility: hidden; }

.carousel-control { visibility: hidden; }

.overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  /*top:50%;*/
  left:0;
  width:100%;
  text-align:center;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.survey-activity-width {
  width: 130px;
}

.survey-topics-width {
  width: 70px;
}

.survey-area-width {
  width: 110px;
}

.survey-time-width {
  width: 110px;
}

.survey-age-width {
  width: 60px;
}

.survey-gender-width {
  width: 60px;
}

.survey-dscribe-width {
}

/*label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}*/
/*input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}*/

.color-heading-orange {
  /*color: #EE8C24;*/
  color: #76C400;
  /*color: #EB7B40;*/
  /*color: #DF7345;*/
  /*color: #EE7524;*/
}


.color-background-main {
/*background-color: #F6F4EC;*/
/*border: 2px solid #F7F0D3;*/
background-color: #F5F5F3;
}

.color-background-page-header {
/*background-color: #F6E3CE;*/
/*background-color: #F5EADD;*/
background-color: white;
/*border: 1px solid #F5CDA2;*/
}

.color-background-grey {
  /*background-color: #DAD8D2;*/
  background-color: #D7D7D5;
  /*background-color: #CDCDCB;*/
}

.survey-sides {
  /*background-color: #E6E6E6;*/
  background-color: white;
}

.color-activity-grey {
  color: #979385;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-condensed {
  font-family: 'PT Sans Narrow', sans-serif;
}

.margin-0 {
  margin: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .4s; /*adjust timing here */
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .4s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

.profile-pic-small {
  width: 40px; 
  height: 40px; 
  margin: 5px
}

.profile-pic-60 {
  width: 60px; 
  height: 60px; 
  margin: 5px
}

.profile-pic-medium-small {
  width: 80px; 
  height: 80px;
  margin: 20px;
}

.profile-pic-medium-small-no-margin {
  width: 80px; 
  height: 80px;
  border-radius: 2px;
}

.profile-pic-70 {
  width: 70px; 
  height: 70px;
  border-radius: 2px;
}

.profile-pic-medium {
  width: 180px;
  height: 180px;
  text-align: center;
}

.profile-pic-medium-large {
  width: 200px;
  height: 200px;
  text-align: center;
}

.profile-pic-large {
  width: 260px;
  height: 260px;
  text-align: center;
  border-radius: 40px;
}

.activity-image {
/*  height: 240px; 
  width: 320px; */
  height: 192px; 
  width: 256px;
  /*overflow: hidden;*/
}

.activity-image-small {
  height: 120px; 
  width: 160px;
}

.activity-image-large {
  height: 240px; 
  width: 320px;
  /*overflow: hidden;*/
}

.margin-align-center {
  margin-left: auto; 
  margin-right: auto;
}

.margin-top-40 {
  margin-top: 40px;
}

.navbar-default {
  /*background-color: #CAE3F5;*/
  background-color: #9FCAE9;
	border-color: #D3E7FF;
  opacity: 0.7;
}

.btn-primary {
	/*background-color: #8D8883;*/
	/*background-color: #EDB57A;*/
	background-color: #EE8C24;
	border-color: #C39463;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #D47D20;
  /*background-color: #A4A4A4;*/
  border-color: #9A754E;
}

.btn-success {
	/*background-color: #EDB57A;*/
	background-color: #EE8C24;
	border-color: #C39463;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #D47D20;
  border-color: #9A754E;
}

/*.jumbotron {
	background-color: #EEE7DD;
	background-color: #EEE7DD;
	background-color: #F6F3E9;
	background-color: #F6F2E2;
	background-color: #F6F4EC;
}*/

#homepage-top {
  background-color: #F6F4EC;
}

#homepage-about-us {
  /*background-color: #F9D195;*/
  background-color: white;
  padding: 24px 0px;
}

.jumbotron h1 {
  margin: .67em 0;
  /*font-size: 3.2em;*/
  font-size: 2.6em;
}

.jumbotron p {
  font-size: 1.3em;
}

.navbar-brand {
	color: #white;
}

.btn-invite {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #EE8C24;
  /*background: #A4A4A4;*/
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}

.color-green {
  color: #76C400;
}

.color-blue {
  color: #5BC0DE;
}

.background-lightblue {
  background-color: #C6E3F7;
}


.btn-green {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #76C400;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}

.btn-green:hover {
  background: #60A000;
  text-decoration: none;
  color: white;
}

a.btn-green:link,
a.btn-green:visited,
a.btn-green:hover,
a.btn-green:active {
  text-decoration: none;
  color: white;
}



.btn-blue {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #5BC0DE;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}

.btn-blue:hover {
  background: #4A98B0;
  text-decoration: none;
  color: white;
}


a.btn-blue:link,
a.btn-blue:visited,
a.btn-blue:hover,
a.btn-blue:active {
  text-decoration: none;
  color: white;
}

.btn-grey {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #A4A4A4;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}

.btn-grey:hover {
  background: #909090;
  text-decoration: none;
  color: white;
}

a.btn-grey:link,
a.btn-grey:visited,
a.btn-grey:hover,
a.btn-grey:active {
  text-decoration: none;
  color: white;
}


.modal-content {
  border-radius: 40px;
}


.btn-invite:hover {
  background: #D47D20;
  text-decoration: none;
  color: white;
}

a.btn-invite:link,
a.btn-invite:visited,
a.btn-invite:hover,
a.btn-invite:active {
  text-decoration: none;
  color: white;
}

.btn-invite-grey {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #A4A4A4;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}


.btn-invite-grey:hover {
  background: #A4A4A4;
  text-decoration: none;
  color: white;
}

a.btn-invite-grey:link,
a.btn-invite-grey:visited,
a.btn-invite-grey:hover,
a.btn-invite-grey:active {
  text-decoration: none;
  color: white;
}

.btn-invite-yellow {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #A4A4A4;
  font-size: 16px;
  /*background: #F6F4EC;*/
  padding: 6px 20px 6px 20px;
  text-decoration: none;
  border-color: #A4A4A4;
}


a.btn-invite-yellow:hover {
  background: #F6F4EC;
  text-decoration: none;
  color: #EE8C24;
}

/*a.btn-invite-yellow:link,
a.btn-invite-yellow:visited,
a.btn-invite-yellow:active {
  text-decoration: none;
  color: #A4A4A4;
}*/

/*.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #A4A4A4;
}*/



.large-p {
	font-size: 16px;
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	  .profile-height {
    height: 440px;
  }
}

@media (min-width: 768px) {
    .profile-event-accept-height {
    height: 700px;
  }
}

@media (min-width: 768px) {
    .users-profile-height {
    height: 540px;
  }
}

.orange-rectangle{
    width: 300px;
    height: 25px;
    background-color: #EE8C24;
		border-color: #C39463;
		color: white;
}

.error-red {
	color: #a94442;
}

.error-orange {
  color: #EE8C24;
}

.success-green {
  color: #04B404;
}

.radio-inline,
.checkbox-inline {
  margin-left: 10px; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-brand {
	padding: 5px 15px;
	display: table-cell;
	vertical-align: middle;
}

#navbar-logo {
	width: 44px;
	height: 40px;
	display: inline-block;
	margin-bottom: 5px;
	/*vertical-align: middle;*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #A4A4A4;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
 /* background-color: #EE8C24;*/
  background-color: #76C400;
  /*background-color: #DF7345;*/
}

.navbar-default .navbar-nav > .active > button,
.navbar-default .navbar-nav > .active > button:hover,
.navbar-default .navbar-nav > .active > button:focus {
  color: #ffffff;
  background-color: #A4A4A4;
}

.navbar-default .navbar-nav > li > div > button {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > div > button:hover,
.navbar-default .navbar-nav > li > div > button:focus {
  color: #ffffff;
  /*background-color: #EE8C24;*/
  background-color: #76C400;
  /*background-color: #DF7345;*/
}

.nav > li > a {
padding: 15px 24px;
}

.padding-left-10 {
 	padding-left: 10px;
 }

.alert-home-page {
  color: #5B5951;
  background-color: #F6F4EC;
  border-color: #F6F4EC;
}


a.link-plain:link,
a.link-plain:visited,
a.link-plain:hover,
a.link-plain:active {
  text-decoration: none;
  color: #5B5951;
}

a.link-grey-orange:link,
a.link-grey-orange:visited,
a.link-grey-orange:active {
  color: #979385;
  text-decoration: none;
}

a.link-grey-orange:hover {
  text-decoration: none;
  color: #EE8C24;
}


a.link-orange-highlight:link,
a.link-orange-highlight:visited,
a.link-orange-highlight:active {
  text-decoration: none;
  color: #5B5951;
}

a.link-orange-highlight:hover {
  text-decoration: none;
  color: #EE8C24;
}

a.link-orange-highlight-bold:link,
a.link-orange-highlight-bold:visited,
a.link-orange-highlight-bold:active {
  text-decoration: none;
  font-weight: bold;
  color: #5B5951;
}

a.link-orange-highlight-bold:hover {
  text-decoration: none;
  font-weight: bold;
  color: #EE8C24;
}

a.link-orange-active {
  text-decoration: none;
  color: #EE8C24;
}



#facebook-submit {
  height: 31px;
  width: 198px;
}

.homepage-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.homepage-paragraph {
  padding-top: 12px;
  padding-right: 20px; 
  padding-left: 20px;
  font-size: 18px;
}

.howitworks-icon {
  width: 60px;
  height: 60px;
  margin-top: 4%;
  margin-bottom: 2%;
}

.howitworks-paragraph {
  padding-top: 12px;
  padding-right: 20px; 
  padding-left: 20px;
  font-size: 16px;
  color: white;
}

/*.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}*/

@media screen and (min-width: 768px) {
  .jumbotron {
    /*padding: 48px 0;*/
    padding: 36px 0;
  }
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/********Login Modal**********/

.form-separator {
  border-top: 1px solid #e7e9ec;
  height: 1px;
  margin: 40px 0;
  vertical-align: baseline;
}

.btn-fb.fb {
background: #3b5998;
border-bottom-color: #324b80;
}

.btn-fb.fb:hover {
background: #324b80;
border-bottom-color: #324b80;
color: white;
}

.btn-fb.large {
min-width: 36px;
padding: 14px 25px 12px;
font-size: 14px;
}

.btn-fb.full-width {
padding-left: 0;
padding-right: 0;
width: 80%;
}

.btn-fb {
display: inline-block;
border: 0;
border-bottom: 1px solid;
text-align: center;
-webkit-font-smoothing: antialiased;
-webkit-appearance: none;
outline: 0;
font-weight: 700;
color: #fff;
padding: 0 25px;
line-height: 1;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 20px;
}

a.btn-fb {
  text-decoration: none;
}

.btn.green {
background: #76C400;
border-bottom-color: #60A000;
}

.btn.green:hover {
background: #60A000;
border-bottom-color: #60A000;
color: white;
}

#click-off-overlay {
position: fixed;
top: 0;
left: 0;
display: none;
width: 100%;
height: 100%;
z-index: 100;
background: #000;
background: rgba(0,0,0,0.8);
background: -webkit-radial-gradient(50% 50%,ellipse closest-corner,rgba(0,0,0,0.45) 1%,rgba(0,0,0,0.8) 100%);
background: -moz-radial-gradient(50% 50%,ellipse closest-corner,rgba(0,0,0,0.45) 1%,rgba(0,0,0,0.8) 100%);
background: -ms-radial-gradient(50% 50%,ellipse closest-corner,rgba(0,0,0,0.45) 1%,rgba(0,0,0,0.8) 100%);
background: radial-gradient(50% 50%,ellipse closest-corner,rgba(0,0,0,0.45) 1%,rgba(0,0,0,0.8) 100%);
filter: alpha(opacity=80);
opacity: 0;
-webkit-transition: 200ms opacity ease;
-moz-transition: 200ms opacity ease;
transition: 200ms opacity ease;
}


/******UpLoadCare Image Uploader Modal******/

/*.uploadcare-dialog-tab,
.uploadcare-dialog-tabs,
.uploadcare-dialog-panel {
  background: transparent;
  border: 0;
}*/
/*.uploadcare-dialog-tabs {
  float: none;
  width: auto;
  height: auto;
  overflow: hidden;
}*/
/*.uploadcare-dialog-tab {
  width: 56px;
  float: left;
}
.uploadcare-dialog-tabs-panel,
.uploadcare-dialog-source-base-wrap {
  padding: 0;
  margin: 0;
}*/



.uploadcare-dialog-file-or {
font-size: 18px;
color: #8f9498;
margin-bottom: 33px;
}

.uploadcare-dialog-file-source {
display: inline;
font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-size: 16px;
line-height: 12px;
margin-right: .2em;
cursor: pointer;
font-weight: 300;
white-space: nowrap;
letter-spacing: 1px;
color: white;
padding: 5px 10px;
text-decoration: none!important;
border-radius: 3px;
border-color: #324B80;
background: #3b5998;
background: -webkit-linear-gradient(#3b5998,#3b5998);
background: -moz-linear-gradient(#3b5998,#3b5998);
background: linear-gradient(#3b5998,#3b5998);
box-shadow: none;
text-shadow: none;
}

.uploadcare-dialog-file-source:hover {
display: inline;
font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-size: 16px;
line-height: 12px;
margin-right: .2em;
letter-spacing: 1px;
cursor: pointer;
font-weight: 300;
white-space: nowrap;
color: white;
padding: 5px 10px;
text-decoration: none!important;
border-radius: 3px;
border-color: #324B80;
background: #324B80;
background: -webkit-linear-gradient(#324B80,#324B80);
background: -moz-linear-gradient(#324B80,#324B80);
background: linear-gradient(#324B80,#324B80);
box-shadow: none;
text-shadow: none;
}

.uploadcare-dialog-file-source:after {
  content: none;
}

.uploadcare-dialog-file-title {
font-size: 40px;
line-height: 1;
color: black;
font-weight: bold;
margin: 33px 0;
}

a.js-login.welcome-button.big-button {
border-radius: 3px;
font-size: 16px;
letter-spacing: 1px;
color: #fff;
line-height: 12px;
border: solid 1px;
display: inline-block;
padding: 10px 2em;
text-decoration: none!important;
}

.uploadcare-dialog-inner-wrap {
display: inline-block;
vertical-align: middle;
white-space: normal;
text-align: left;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: relative;
width: 100%;
min-width: 360px;
max-width: 644px;
min-height: 360px;
max-height: 644px;
padding: 0 33px 0 11px;
}

.uploadcare-dialog-big-button {
border-radius: 3px;
font-size: 16px;
font-weight: normal;
letter-spacing: 1px;
color: white;
line-height: 12px;
border: none;
text-shadow: none;
display: inline-block;
padding: 16.5px 2em;
cursor: pointer;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
background: #EE8C24;
background: -webkit-linear-gradient(#EE8C24,#EE8C24);
background: -moz-linear-gradient(#EE8C24,#EE8C24);
background: linear-gradient(#EE8C24,#EE8C24);
}


.uploadcare-dialog-big-button:hover {
border-radius: 3px;
font-size: 16px;
font-weight: normal;
letter-spacing: 1px;
color: white;
line-height: 12px;
border: none;
text-shadow: none;
display: inline-block;
padding: 16.5px 2em;
cursor: pointer;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
background: #D47D20;
background: -webkit-linear-gradient(#D47D20,#D47D20);
background: -moz-linear-gradient(#D47D20,#D47D20);
background: linear-gradient(#D47D20,#D47D20);
}

.welcome {
  color: #8f9498;
  padding-top: 40px;
}

.uploader-blue-button .uploadcare-widget-button-open {
    background-color: #5BC0DE;
}
.uploader-blue-button .uploadcare-widget-button-open:hover {
    background-color: #4A98B0;
}


#background{
  position:fixed;
  left:0;top:0;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  z-index:-100;
  visibility: visible;
}
