<div class="container">
  <div class="row background-standard" style="margin-bottom: 2%; margin-top: 30px" ng-cloak>
    <div class="col-md-4 text-center" >
      <br>
      <br>
      <img ng-src="{{ profile.profilePic }}" class="profile-pic-large shadow" style="margin-bottom: 30px">
<!--       <p class="uploader-blue-button">
        <uploadcare-widget
          ng-model="object.image.info.uuid"
          data-public-key="4cae35605f451e88cb88"
          data-locale="en"
          data-tabs="file facebook instagram camera"
          data-images-only="true"
          data-path-value="true"
          data-preview-step="true"
          data-clearable="true"
          data-crop="200:200"
          data-autostore="true"
          on-upload-complete="onUCUploadComplete(info)"
          on-widget-ready="onUCWidgetReady(widget)"
          value="{{ object.image.info.cdnUrl }}"
        />
      </p> -->
      <br>
   <!--  </div> -->
    </div>
    <div class="col-md-8" style="padding: 1% 3%">
      <br>
        <div class="clear-div">
          <div style="float: left; width: 200px; padding-left: 20px">
            <p class="font-condensed bold" style="font-size: 36px; margin: 20px 0px 0px 0px;">{{ profile.firstName }}</p>
            <p class="color-heading-orange bold font-condensed margin-0" style="font-size: 28px;">{{profile.age}} Years Old</span></p>
           <!--  <p ng-show="userSignUpDate" class="font-18 font-condensed color-activity-grey margin-0">Joined {{ profile.dateSignUp }}</p> -->
          </div>
          <div style="float: right; text-align: center; width: 300px; margin-right: 3%; margin-top: 5%; margin-bottom: 0px">
            <a class="btn-green" href="/activity" role="button" style="margin-bottom: 10px; width: 100%; font-size: 20px">Add Activity</a>
          </div>
        </div>
      <hr color="#E6E6E6">
      <div style="border-radius: 40px; border: 1px #E6E6E5 solid; background-color: #FEFEFE; padding-left: 5%; padding-right: 5%; margin-bottom: 3%">
          <p class="font-16 bold color-heading-orange margin-bottom-0" style="margin-top:30px">Favorite Animal</p>
          <p class="font-16 margin-bottom-20">{{ profile.favoriteAnimal }}</p>
          <p class="font-16 bold color-heading-orange margin-bottom-0">Favorite Vegetable</p>
          <p class="font-16 margin-bottom-20">Tomatoes</p>
          <p class="font-16 bold color-heading-orange margin-bottom-0">Favorite Coding Language</p>
          <p class="font-16 margin-bottom-20">Javascript</p>
        </div>
<!--     <form role="form" class="form-horizontal" name="userInfo" novalidate>
      <div style="border-radius: 40px; border: 1px #E6E6E5 solid; background-color: #FEFEFE; padding-left: 5%; padding-right: 5%; margin-bottom: 3%">
        <p class="font-16 bold color-heading-orange margin-bottom-10" style="margin-top:30px">Favorite Animal</p>
        <div class="form-group">
          <input class="form-control" ng-model="profile.favoriteAnimal" name="favoriteAnimal" required>{{profile.favoriteAnimal}}</input>
        </div>
        <p class="font-16 bold color-heading-orange margin-bottom-10" style="margin-top:30px">Favorite Vegetable</p>
        <div class="form-group">
          <input class="form-control" ng-model="profile.favoriteVegetable" name="favoriteVegetable" required>Tomatoes</input>
        </div> -->
     <!--  <p class="font-16 bold color-heading-orange margin-bottom-0">Activities I like include</p>
      <div class="form-group padding-left-10">
          <label class="checkbox-inline survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.happyHours">Happy Hours</label>
          <label class="checkbox-inline survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.liveMusic">Live Music</label>
          <label class="checkbox-inline survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.wineTasting">Wine Tasting</label>
          <label class="checkbox-inline survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.volunteerEvents">Volunteer Events</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.museumTours">Museum Tours</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.hiking">Hiking</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.triviaNights">Trivia Nights</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.danceLessons">Dance Lessons</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.comedyShows">Comedy Shows</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.cookingLessons">Cooking Lessons</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.bowling">Bowling</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.sailingLessons">Sailing Lessons</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.battingCages">Batting Cages</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.golfLessons">Golf Lessons</label>
          <label class="checkbox-inline  survey-activity-width"><input type="checkbox" name="activities" ng-model="profile.activities.kayaking">Kayaking</label>
          <p ng-show="!profile.activities && submitted" class="help-block error-red">At least one value must be checked</p>
        </div>
      <p class="font-16 bold color-heading-orange margin-bottom-10">People I'm looking for</p>
      <div class="form-group">
        <textarea class="form-control" ng-model="profile.friendsType" rows="6" name="friendsType" required>{{profile.friendsType}}</textarea>
      </div>
      <p class="font-16 bold color-heading-orange margin-bottom-10">My perfect weekend involves</p>
      <div class="form-group">
        <textarea class="form-control" ng-model="profile.perfectWeekend" rows="6" name="perfectWeekend" required>{{profile.perfectWeekend}}</textarea>
      </div>
      <p class="font-16 bold color-heading-orange margin-bottom-0" style="margin-top: 20px">Topics of interest include</p>
      <div class="form-group padding-left-10">
          <label class="checkbox-inline survey-topics-width"><input type="checkbox" name="topics" ng-model="profile.topics.art">Art‎</label>
          <label class="checkbox-inline survey-topics-width"><input type="checkbox" name="topics" ng-model="profile.topics.books">Books</label>
          <label class="checkbox-inline survey-topics-width"><input type="checkbox" name="topics" ng-model="profile.topics.celebrities">Celebs</label>
          <label class="checkbox-inline survey-topics-width"><input type="checkbox" name="topics" ng-model="profile.topics.fashion">Fashion‎</label>
          <label class="checkbox-inline survey-topics-width"><input type="checkbox" name="topics" ng-model="profile.topics.movies">Movies‎</label>
          <label class="checkbox-inline survey-topics-width"><input type="checkbox" name="topics" ng-model="profile.topics.music">Music‎</label>
          <label class="checkbox-inline survey-topics-width"><input type="checkbox" name="topics" ng-model="profile.topics.sports">Sports‎</label>
          <label class="checkbox-inline survey-topics-width"><input type="checkbox" name="topics" ng-model="profile.topics.technology">Tech</label>
          <label class="checkbox-inline survey-topics-width"><input type="checkbox" name="topics" ng-model="profile.topics.other">Other</label>
          <p ng-show="!profile.topics && submitted" class="help-block error-red">At least one value must be checked</p>
        </div>
      <p class="font-16 bold color-heading-orange margin-bottom-0" style="margin-top: 20px">Friends describe me as</p>
      <div class="form-group padding-left-10">
          <label class="checkbox-inline survey-dscribe-width"><input type="checkbox" name="friendsDescribe" ng-model="profile.friendsDescribe.artsy"> Artsy</label>
          <label class="checkbox-inline survey-dscribe-width"><input type="checkbox" name="friendsDescribe" ng-model="profile.friendsDescribe.homebody"> Homebody</label>
          <label class="checkbox-inline survey-dscribe-width"><input type="checkbox" name="friendsDescribe" ng-model="profile.friendsDescribe.lifeOfParty"> Life of Party</label>
          <label class="checkbox-inline survey-dscribe-width"><input type="checkbox" name="friendsDescribe" ng-model="profile.friendsDescribe.professional"> Professional</label>
          <label class="checkbox-inline survey-dscribe-width"><input type="checkbox" name="friendsDescribe" ng-model="profile.friendsDescribe.socialButterfly"> Social Butterfly</label>
          <label class="checkbox-inline survey-dscribe-width"><input type="checkbox" name="friendsDescribe" ng-model="profile.friendsDescribe.sportsNut"> Sports Nut</label>
          <label class="checkbox-inline survey-dscribe-width"><input type="checkbox" name="friendsDescribe" ng-model="profile.friendsDescribe.techEnthusiast"> Tech Enthusiast</label>
          <p ng-show="!profile.friendsDescribe && submitted" class="help-block error-red">At least one value must be checked</p>
        </div>
      <p class="font-16 bold color-heading-orange margin-bottom-0" style="margin-top: 20px">My career stage is</p>
      <div class="form-group padding-left-10">
          <label class="radio-inline"><input type="radio" name="career" ng-model="profile.career" value="Still in Class" required>Still in Class</label>
          <label class="radio-inline"><input type="radio" name="career" ng-model="profile.career" value="Just Starting Out" required>Just Starting Out</label>
          <label class="radio-inline"><input type="radio" name="career" ng-model="profile.career" value="A Few Years In" required>A Few Years In</label>
          <label class="radio-inline"><input type="radio" name="career" ng-model="profile.career" value="Experienced" required>Experienced</label>
          <label class="radio-inline"><input type="radio" name="career" ng-model="profile.career" value="Taking Over the World" required>Taking Over the World</label>
          <p ng-show="userInfo.career.$invalid && submitted" class="help-block error-red">Answer required</p>
        </div>
      <p class="font-16 bold color-heading-orange margin-bottom-0" style="margin-top: 20px">My favorite area of the city is</p>
      <div class="form-group padding-left-10">
          <label class="radio-inline survey-area-width"><input type="radio" name="area" ng-model="profile.area" value="Central Park" required>Central Park</label>
          <label class="radio-inline survey-area-width"><input type="radio" name="area" ng-model="profile.area" value="LES" required>Lower East</label>
          <label class="radio-inline survey-area-width"><input type="radio" name="area" ng-model="profile.area" value="Meat Packing" required>Meat Packing</label>
          <label class="radio-inline survey-area-width"><input type="radio" name="area" ng-model="profile.area" value="Murray Hill" required>Murray Hill</label>
          <label class="radio-inline survey-area-width"><input type="radio" name="area" ng-model="profile.area" value="Park Slope" required>Park Slope</label>
          <label class="radio-inline survey-area-width"><input type="radio" name="area" ng-model="profile.area" value="UWS" required>Upper West</label>
          <label class="radio-inline survey-area-width"><input type="radio" name="area" ng-model="profile.area" value="West Village" required>West Village</label>
          <label class="radio-inline survey-area-width"><input type="radio" name="area" ng-model="profile.area" value="Williamsburg" required>Williamsburg</label>
          <label class="radio-inline survey-area-width"><input type="radio" name="area" ng-model="profile.area" value="Other" required>Other</label>
          <p ng-show="userInfo.area.$invalid && submitted" class="help-block error-red">Answer required</p>
        </div>
      <p class="font-16 bold color-heading-orange margin-bottom-0" style="margin-top: 20px">My time spent in NYC is</p>
      <div class="form-group padding-left-10">          
          <label class="radio-inline survey-time-width"><input type="radio" name="timeNYC" ng-model="profile.timeNYC" value="Just Arrived" required>Just Arrived</label>
          <label class="radio-inline survey-time-width"><input type="radio" name="timeNYC" ng-model="profile.timeNYC" value="Still Exploring" required>Still Exploring</label>
          <label class="radio-inline"><input type="radio" name="timeNYC" ng-model="profile.timeNYC" value="Been Here Awhile" required>Been Here Awhile</label>
          <p ng-show="userInfo.timeNYC.$invalid && submitted" class="help-block error-red">Answer required</p>
        </div>
      <p class="font-16 bold color-heading-orange margin-bottom-0" style="margin-top: 20px">My relationship status</p>
      <div class="form-group padding-left-10">
          <label class="radio-inline"><input type="radio" name="relationshipStatus" ng-model="profile.relationshipStatus" value="Just Having Fun" required>Just Having Fun</label>
          <label class="radio-inline"><input type="radio" name="relationshipStatus" ng-model="profile.relationshipStatus" value="I'm Looking" required>I'm Looking</label>
          <label class="radio-inline"><input type="radio" name="relationshipStatus" ng-model="profile.relationshipStatus" value="In a New Relationship" required>In a New Relationship</label>
          <label class="radio-inline"><input type="radio" name="relationshipStatus" ng-model="profile.relationshipStatus" value="Committed Relationship" required>Committed Relationship</label>
          <label class="radio-inline"><input type="radio" name="relationshipStatus" ng-model="profile.relationshipStatus" value="Married" required>Married</label>
          <p ng-show="userInfo.relationshipStatus.$invalid && submitted" class="help-block error-red">Answer required</p>
        </div> -->
        <!-- <a class="btn-blue" ng-click="updateProfile()" style="margin-top: 10px">Update Profile</a>
        <p ng-show="updateProfileSuccess" class="color-heading-orange" style="margin-top: 20px">Profile updated successfully!</p> -->
        <br>
        <br>
      </div>
    </div>
  </form>
  </div>
  </div>
</div>
