<div class="modal-body text-center">
	<div class="form-group" style="margin-top: 30px" ng-class="{ 'has-error' : submitted }">
		<a class="btn btn-fb large fb js-fb-login full-width" ng-click="submitSignUpFacebook()">Sign Up with Facebook</a>
		<p ng-show="submittedFacebook" class="help-block error-red">There are errors in the form!</p>	
	</div>
	<div style="margin-top: 28px; margin-bottom: 26px">
		<p class="font-16">or</p>
	</div>
	<form role="form" class="form-horizontal text-center" style="margin-bottom: 30px" name="signUpUserForm" novalidate>
    <input style="margin-top: 20px; margin-left: 26px; width: 80%" type="email" class="form-control" id="signUpEmail" placeholder="Email" name="signUpEmail" ng-model="signUpEmailModel" tabindex="1" required>
    <p ng-show="signUpUserForm.signUpEmail.$invalid && submittedPassword" class="help-block error-red">Enter a valid email address</p>
    <input style="margin-top: 20px; margin-left: 26px; width: 80%" type="password" class="form-control" id="signUpPassword" placeholder="Password" name="signUpPassword" ng-model="signUpPasswordModel" tabindex="2" required>
    <p ng-show="signUpUserForm.signUpPassword.$invalid && submittedPassword" class="help-block error-red">Enter a valid password</p>
		<input type="submit" style="margin-top: 20px" class="btn btn-fb large green full-width" tabindex="3" ng-click="submitSignUpPassword()" value="Sign Up With Email">
		<p ng-show="(signUpUserForm.$invalid || errorMessage) && submittedPassword" class="help-block error-red">There are errors!</p>
		<p ng-show="errorMessage && submittedPassword" class="help-block error-red">{{ errorMessage }}</p>
		<div class="alert alert-info" style="margin-top: 10px" ng-show="loading">Loading...</div>
	</form>
</div>

