<div class="container background-lightblue" ng-cloak>
	<div class="row" style="padding-top: 40px; margin-top: 30px">
  	<div ng-repeat="rows in chunkedData" ng-cloak>
    <div class="col-md-3 col-sm-6 text-center" ng-repeat="user in rows">
     	<div class="profile-pic-medium-large margin-align-center"><a href="" ng-href="/users/{{user.$id}}"><img ng-src="{{user.profilePic}}" class="profile-pic-medium-large margin-align-center" style="border-radius: 40px 40px 0 0"></a></div>
     	<div class="shadow" style="background-color: #FEFEFE; width: 200px; padding-top: 2px; margin-left: auto; margin-right: auto; border-radius: 0 0 40px 40px">
      	<a class="link-orange-highlight" href="" ng-href="/users/{{user.$id}}"><h4>{{user.firstName}}</h4></a>
				<a href="" ng-href="/users/{{user.$id}}" class="btn-blue" style="font-size: 13px">View Profile</a>
				<br>
				<br>
			</div>
			<br>
		</div>
		</div> 
	</div>
</div>