<div ng-show="firstPageLearn">
	<div class="modal-body text-center" style="padding: 20px 40px">
		<h3>Hello Friends, thanks for being an early adopter of ActiveFamilies. We're excited you and your kids are going to join us.</h3>
		<br>
		<img src="http://cliparts.co/cliparts/kcM/beo/kcMbeoXAi.png" height="150">
	</div>
	<div class="modal-footer">
		<a style="margin-right: 5%"  href="" class="btn-blue" ng-click="firstLearn()">Next</a>
	</div>
</div>
<div ng-show="secondPageLearn">
	<div class="modal-body text-center" style="padding: 20px 40px">
		<h3>During the test phase you'll be able to create a profile for one child (no picking favorites!), but rest assured you'll have the option to add more soon!</h3>
		<br>
		<img src="http://cliparts.co/cliparts/Lid/dbn/LiddbnGi4.png" height="150">
	</div>
	<div class="modal-footer">
		<a style="margin-right: 5%" href="" class="btn-blue" ng-click="secondLearn()">Next</a>
	</div>
</div>
<div ng-show="thirdPageLearn">
	<div class="modal-body text-center" style="padding: 20px 40px">
		<h3>Now that you're ready let's get you and your kids having some healthy family fun!</h3>
		<br>
		<img src="http://cliparts.co/cliparts/zcX/4Mx/zcX4Mx9cB.png" height="150">
	</div>
	<div class="modal-footer">
		<a style="margin-right: 5%"  href="" class="btn-blue" ng-click="thirdLearn()">Next</a>
	</div>
</div>

