<div ng-show="firstPageLearn">
	<div class="modal-body text-center">
		<h1>I'm an OWL!!!!!</h1>
		<br>
		<img src="http://cliparts.co/cliparts/kcM/beo/kcMbeoXAi.png" height="200">
	</div>
	<div class="modal-footer">
		<a style="margin-right: 5%"  href="" class="btn-blue" ng-click="firstLearn()">Next</a>
	</div>
</div>
<div ng-show="secondPageLearn">
	<div class="modal-body text-center">
		<h1>I'm some sort of bird-like creature!!!!!</h1>
		<br>
		<img src="http://cliparts.co/cliparts/Lid/dbn/LiddbnGi4.png" height="200">
	</div>
	<div class="modal-footer">
		<a style="margin-right: 5%" href="" class="btn-blue" ng-click="secondLearn()">Next</a>
	</div>
</div>
<div ng-show="thirdPageLearn">
	<div class="modal-body text-center">
		<h1>Where's the closest dam?</h1>
		<br>
		<img src="http://cliparts.co/cliparts/zcX/4Mx/zcX4Mx9cB.png" height="200">
	</div>
	<div class="modal-footer">
		<a style="margin-right: 5%"  href="" class="btn-blue" ng-click="thirdLearn()">Next</a>
	</div>
</div>

