<div class="container">
  <div class="row" style="border-radius: 5px; margin-bottom: 2%; margin-top: 30px" ng-cloak>
    <div class="col-md-8 col-sm-12" style="padding: 0% 7%">
    	<p style="padding-top: 40px" class="font-22">Enter a new activity:</p>
    	<form role="form" class="form-horizontal" name="activityInfo" novalidate>
    		<div>
			<!-- <select style="width: initial" ng-model="activityForm.activityType">
            <option value="Run">Run</option>
            <option value="Walk">Walk</option>
            </select> -->
            <!-- </div> -->

            <div>
                <label class="radio-inline"><input type="radio" name="runWalk" ng-model="activityForm.activityType" value="Run" required>Run</label>
                <label class="radio-inline"><input type="radio" name="runWalk" ng-model="activityForm.activityType" value="Walk" required>Walk</label>
                <!-- <p ng-show="activityInfo.runWalk.$invalid && submitted" class="help-block error-orange" style="margin-top: 10px">Required</p> -->
            </div>        
				
				<div style="margin-top: 20px">
    			<input name="activityMinutes" ng-model="activityForm.activityMinutes" style="width: 40px"required>
    			<p style="display: inline-block; margin-left: 10px">Minutes</p>
    		</div>
    		<div style="margin-top: 20px">
    			<input name="activityMiles" ng-model="activityForm.activityMiles" style="width: 40px" required>
    			<p style="display: inline-block; margin-left: 10px">Miles</p>
    		</div>
        <div style="margin-top: 20px">
        <p class="input-group">
         <!--  <input ng-show="false" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="activityForm.activityDate" is-open="opened" min-date="minDate" max-date="'2016-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="width: 80px" placeholder="Select date ->" /> -->
         <!-- <span class="input-group-btn"> -->
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar" style="display: inline-block"></i></button>
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="activityForm.activityDate" is-open="opened" min-date="minDate" max-date="'2016-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="width: 160px; display: inline-block" placeholder="Date" />
         <!--  </span> -->
          </p>
        </div>
            <br>
            <p class="uploader-blue-button">
                <uploadcare-widget
                ng-model="object.image.info.uuid"
                data-public-key="4cae35605f451e88cb88"
                data-locale="en"
                data-tabs="file facebook instagram camera"
                data-images-only="true"
                data-path-value="true"
                data-preview-step="true"
                data-clearable="true"
                data-crop="200:200"
                data-autostore="true"
                on-upload-complete="onUCUploadComplete(info)"
                on-widget-ready="onUCWidgetReady(widget)"
                value="{{ object.image.info.cdnUrl }}"
                />
            </p>
          <br>
    		<div style="margin-top: 20px">
					<a href="" ng-click="activitySubmit()" class="btn-blue">Submit Activity</a>
				</div>
				<p ng-show="activitySuccess" style="margin-top: 20px">Activity Submitted Successfully!</p>
			</form>
    </div> <!-- col-md-8 -->
	</div> <!-- row -->
</div> <!-- container -->